body {
    text-align: center;
    background-color: #06d6a0;
}



.header {
    border-radius: 20px;
    background-color: aliceblue;
    margin-top: 70px;
    padding-top: 5px;
    padding-bottom: 10px;
}

/*Start button*/
.start-button-container {
    margin-top: 50px;
}
.start-button {
    width: 100px;
    font-size: large;
}

/*Main content*/
.main-content {
    visibility: hidden;
    background-color: aliceblue;
    border-radius: 20px;
    padding-top: 15px;
    margin-bottom: 50px;
    
}



.hand-item {
    font-size: 40px;    
    border-radius: 10px;
    height: 70px;
    width: 70px;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(3, 3, 3, 0.15);
    transition: box-shadow 0.3s ease-in-out;

}

.hand-item:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    
}

.choice-icon-container {    
    border-radius: 5px;
    font-size: 100px;
    animation: handShake 2s 1.5;

}

/*Handshake animation*/
@keyframes handShake {
    0%,100% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
}

.choice-icon-item {        
    width: 170px;
    height: 170px;
    display: none; /*Hide other options*/
    
}

.text-container {
    margin: 10px 0px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 260px;
    height: auto;
}
/*In the starting screen, only show rock icons*/
#players-choice-rock, #computer-rock {
    display: block; 
}

#reset-button {
    display: none;
    margin-bottom: 30px;    
}