body {
    text-align: center;
    background-color: #06d6a0;
    font-family: 'Arvo', serif;
}

.my-container {
    min-width: 520px;    
}

.header {
    border-radius: 20px;
    background-color: aliceblue;
    margin-top: 70px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-style: double;
    border-width: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

/*Start button*/
.start-button-container {
    margin-top: 50px;
}
.start-button {
    width: 100px;
    font-size: large;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    
}

/*Main content, the game area*/
.main-content {
    visibility: hidden;
    background-color: aliceblue;
    border-radius: 20px;
    padding-top: 15px;
    margin-bottom: 50px;
    border-style: double;
    border-width: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);    
}

.hand-button {
    font-size: 40px;    
    border-radius: 10px;
    height: 70px;
    width: 70px;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;

}

.hand-button:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    
}

.choice-icon-container {    
    border-radius: 5px;
    font-size: 100px;
    
}

/*.animated{
    animation: handShake 2s infinite;
}*/

/*Handshake animation
@keyframes handShake {
    0%,100% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
}*/

.choice-icon-item {        
    width: 170px;
    height: 170px;
    display: none; /*Hide other options*/
    
}

/*The score board*/
.score-board {
    margin: 10px 0px;
    border-style: double;
    border-width: 5px;
    border-radius: 5px;
    width: 260px;
    height: auto;
    padding: 10px 0px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

/*In the starting screen, only show rock icons*/
#players-rock, #computer-rock {
    display: block; 
}

#reset-button {
    display: none;
    margin-bottom: 30px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);    
}